.service-container {
  display: flex;

  width: 70vw;
  gap: 4rem;
  margin: auto;
  overflow-x: scroll;
}
.service {
  text-align: center;
  margin: 1rem 0;
}
.link {
  text-decoration: none;
  color: black;
}
.service-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .service-container {
    width: 60vw;
    gap: 2rem;
    font-size: small;
  }
}
