.service-container {
  display: flex;
  padding: 1rem;
  width: 70vw;
  gap: 4rem;
  margin: auto;
  overflow-x: scroll;
}
.service {
  text-align: center;
}
.link {
  text-decoration: none;
  color: black;
}
.service-container::-webkit-scrollbar {
  display: none;
}
