.container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.card {
  width: fit-content;
}

.decoration {
  width: 300px;
  height: 300px;
  padding-bottom: 1rem;
  background-color: #f0f0f0;
  border-radius: 14px;
}

.decoration-detail {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}
.decoration-detail > span {
  background-color: #f0f0f0;
  color: #f0f0f0;
  padding: 0.2rem 2rem;
  border-radius: 5px;
}
.cost {
  padding: 0.2rem 2rem;
  background-color: #f0f0f0;
  color: #f0f0f0;
  border-radius: 5px;
}
.rating {
  background-color: #f0f0f0;
  padding: 0.6rem 3rem;
  margin-right: 1rem;
  border-radius: 5px;
  color: #f0f0f0;
  display: flex;
}
.star {
  margin: 0 0.5rem;
}
.rate {
  margin: 0 0.5rem;
}
/* For mobile devices */
@media screen and (max-width: 480px) {
  .decoration {
    width: 80vw;
    height: 200px;
  }
}
