@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
.main {
  width: 100vw;
}
.hero {
  display: flex;
  width: 100vw;
}
.content {
  width: 50vw;
}
.tagline {
  color: #df9783;
  font-family: "Caveat", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 3rem;
}
.hero-image {
  width: 50vw;
  height: 70vh;
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    width: 100vw;
  }
}

@media screen and (max-width: 480px) {
  .hero-image {
    width: 100vw;
    height: 70vh;
  }
}
