.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.testimonial {
  display: flex;
  gap: 3rem;
  overflow-x: scroll;
  width: 60vw;
}
.testimonial::-webkit-scrollbar {
  display: none;
}
.card {
  min-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 14px;
  font-size: 1.2rem;
  background-color: #FE6180;
  color: #fe6180;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
.user-image {
  border-radius: 50%;
}
.feedback-message {
  background-color: #fff;
  padding: 1rem;
  border-radius: 14px;

  font-style: italic;
}
.scroll-left,
.scroll-right {
  color: #fe6180;
  background-color: #fff;
  border-radius: 50%;
  padding: 1rem;
  margin: 2rem;
}
.scroll-left:hover,
.scroll-right:hover {
  cursor: pointer;
  background-color: #fe6180;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .card {
    font-size: 1rem;
    padding: 0.5rem;
    width: 200px;
    gap: 0;
    margin: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .section{
    height: fit-content;
  }
  .container {
    margin: 0.8rem;
  }
  .testimonial {
    width: 100vw;
  }
  .scroll-left,
  .scroll-right {
    display: none;
  }
  .card {
    min-width: 90%;
  }
}
