.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
}
.testimonial {
  display: flex;

  gap: 3rem;
  overflow-x: scroll;

  width: 85vw;
}
.testimonial::-webkit-scrollbar{
    display: none;
}
.card {
  min-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 14px;
  font-size: 1.2rem;
  background-color: #FFCCBE;
  color: #FE6180;
}
.user{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #000;
}
.user-image{
    border-radius: 50%;
}
.feedback-message{
    background-color: #fff;
    padding: 1rem;
    border-radius: 14px;
   
    font-style: italic;

}
@media screen and (max-width:480px){
    .card{
        font-size: 1rem;
        padding: 0.5rem;
        width: 200px;
     
    }
    
}