.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f33d61;
  font-weight: bold;
  color: white;
  padding: 2rem 0;
  
  
}
.more-service {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.fotter-bottom {
  display: flex;
  width: 60%;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 1rem;
}
.company {
  display: flex;
  gap: 1rem;
}
.more-detail {
  display: flex;
  gap: 1rem;
}
.link{
  color: white;
  text-decoration: none;

  
}
.link:hover{
  
cursor: pointer;
color: #FFD3C8;

}
@media screen and (max-width: 768px) {
  .more-service {
    flex-direction: column;
  }
  .fotter-bottom {
    flex-direction: column;
  }
  .company {
    flex-direction: column;
    gap: 0.5rem;
  }
  .more-detail {
    margin: 1rem auto;
  }
}
